.formule {
   width: 800px;
  margin: 40px auto;
  padding: 20px;
  background: #eeeded;
  border-radius: 10px;
  box-shadow: 0 3px 10px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.Btn {
    width: 200px;
    height: 40px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.formule input {
    width: 600px;
    height: 50px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-left: 50px;
}
body{
    margin: 10px;
    padding: 10px;
    
}