/* div page */

.recipes-page {
  padding: 30px;
  background-color: rgb(250, 247, 242, 0.5);
  min-height: 100vh;
  font-family: "Poppins", sans-serif;
}

/* card css*/
.recipes-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  color: #430C05;
  justify-content: space-between;
  background-color:rgb(67, 12, 5,0.5);
  padding: 50px;
  border-radius: 20px;
  margin: 40px auto;
  max-width: 1200px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.08);
  color: #5A3E36;
  
}

/* search + filtre*/
.fsearch {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  padding-left: 50px;
  padding-right: 50px;
  margin-bottom: 40px;
  flex-wrap: wrap;

}

/* bar de recherche */
.search {
  padding: 12px 45px 12px 15px;
  font-size: 15px;
  width: 260px;
  border-radius: 8px;
  border:3px solid #430C05;
  background-color: #fff;
  color: #430C05;
  background-image: url('../public/photo/search.png');
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: right 10px center;
  transition: all 0.3s ease;
}

.search:focus {
  border-color: #b89278;
  box-shadow: 0 0 5px rgba(185, 146, 120, 0.4);
  outline: none;
}

/* Select Filtre */
.select-filtre {
  padding: 12px;
  width: 160px;
  border-radius: 8px;
  border: 3px solid #430C05;
  background-color: #fff;
  font-size: 15px;
  color: #430C05;
  transition: all 0.3s ease;
}

.select-filtre:focus {
  border-color: #b89278;
  box-shadow: 0 0 5px rgba(185, 146, 120, 0.4);
  outline: none;
}

/* Titre */
.texto {
  background-color: rgb(67, 12, 5, 0.2);
  text-align: center;
  color:  #430C05;
  font-family: serif;
text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
  font-size: 48px;
  font-weight: bold;
  border-bottom: 2px solid #d8c1ac;
  width: fit-content;
  margin: 0 auto 40px;
  padding: 20px;
  line-height: 1.4;

}


.icon1 {
  width: 35px;
  height: 35px;
}

.empty {

  text-align: center;
  color: black;
  font-size: x-large;
  margin-top: 20px;
  width: 100%;
}