
/* div page */

.recipes-page {
  padding: 30px;
  background-color: #faf7f2;
  min-height: 100vh;
  font-family: "Poppins", sans-serif;
}

/* card css*/
.recipes-container {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  color: #430C05;
  justify-content: center;
  background-color: #f1e5d6;
  padding: 50px;
  border-radius: 20px;
  margin: 40px auto;
  max-width: 1200px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.08);
}

/* search + filtre*/
.fsearch {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 40px;
  flex-wrap: wrap;
color: ;
}

/* bar de recherche */
.search {
   padding: 12px 45px 12px 15px;
  font-size: 15px;
  width: 260px;
  border-radius: 8px;
  border: 2px solid #d4c4b8;
  background-color: #fff;
  color: #430C05;
  background-image: url('../public/photo/iconsRE.gif');  
  background-repeat: no-repeat;
  background-size: 20px;   
  background-position: right 10px center; 
  transition: all 0.3s ease;
}
.search:focus {
  border-color: #b89278;
  box-shadow: 0 0 5px rgba(185, 146, 120, 0.4);
  outline: none;
}

/* Select Filtre */
.select-filtre {
  padding: 12px;
  width: 160px;
  border-radius: 8px;
  border: 2px solid #d4c4b8;
  background-color: #fff;
  font-size: 15px;
  color: #5b4a42;
  transition: all 0.3s ease;
}
.select-filtre:focus {
  border-color: #b89278;
  box-shadow: 0 0 5px rgba(185, 146, 120, 0.4);
  outline: none;
}
/* Titre */
.text {
  text-align: center;
  color: #430C05;
  font-family: "Georgia", serif;
  font-size: 38px;
  font-weight: bold;
  border-bottom: 2px solid #d8c1ac;
  width: fit-content;
  margin: 0 auto 40px;
  padding-bottom: 10px;
  line-height: 1.4;
}

.icon1{
  width: 35px;
  height: 35px;
}
.empty {

  text-align: center;
  color: black;
  font-size: x-large;
  margin-top: 20px;
  width: 100%;
}