.box{
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    
}

.txt{
    font-size: smaller;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px) scale(0.10);
  }
  100% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}


