.navbar {
  background-color: rgba(67, 12, 5, 0.8);
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  z-index: 1000;
}
.logo{
  width: 60px;
  height: 60px;
  margin-left: 0px;
}

.nav-logo {
  background-color: #ff5722; 
  color: white;              
  font-size: 1.5rem;
  font-weight: bold;
  font-family: 'Arial', sans-serif;
  letter-spacing: 1px;
  padding: 10px 20px;
  border-radius: 25px;
  cursor: pointer; 
  transition: transform 0.3s ease;
}

.nav-logo:hover {
  background-color: #7f4635; 
}
.nav-links {
  display: flex;
  gap: 30px;
}

.nav-links a {
  color: #ecf0f1;
  text-decoration: none;
  font-size: 1.1rem;
  font-weight: 500;
  transition: all 0.3s ease;
  padding: 8px 12px;
  border-radius: 4px;
}

/* 5. Hover Effect for Links */
.nav-links a:hover {
  color: #fff;
  background-color: rgba(255, 255, 255, 0.1); /* Light transparent background */
  transform: translateY(-2px);
}