.side-bar{
    width: 17%;
    height: 100vh;
    background-color: #FAF0DD;
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 70px;
    align-items: center;
    padding-top: 80px;
    position: fixed;
    z-index: 2;
}

.side-bar button{
    border-color: black;
    border-width: 1px;
    background-color: white;
    color: black;
    width: 70%;
    align-items: center;
    text-align: center;
}

 
.btn{
    color: black;
    text-decoration: none;
}