.cardContainer{
    display : flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
}

.cardTest{
    width: 250px;
    height: auto;
    display: flex;
    flex-direction: column;
    border: 1px solid red;
}

.cardButton{
    display: flex;
    justify-content: center;
}

.cardButton button{
    width: 80px;
}

