.formule {
   width: 800px;
  margin: 40px auto;
  padding: 20px;
  background: rgba(67, 12, 5, 0.5);
  border-radius: 10px;
  box-shadow: 0 3px 10px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  gap: 12px;
  position: relative;
  color: #000;
 
}
.Btn {
    width: 200px;
    height: 40px;
    background-color: #c36d33;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.formule input {
    width: 600px;
    height: 50px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-left: 50px;
    color: #000;
    background-color: white;
}
.titre{
    text-align: center;
    color: #f6f6f6;
    
}
.formule textarea {
    width: 600px;
    height: 150px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-left: 50px;
    color: #000;
    background-color: white;
}


    

.divFrom {
    background-color: #ffffff;
    padding: 20px 

}
.Btnexit{
  position: absolute;
  top: 0px;
  right: 9px;
  background-color: rgb(67, 12, 5,0.5);
  color: rgb(237, 229, 229);
  border: none;
  padding: 0px 0px;
  font-size: 25px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.2s;
  width: 8px;
}

.ManageRecipe{
  width: 200px;
    height: 40px;
    background-color: #c36d33;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.exit-btn:hover {
  background-color: #d93636;
}
.button-container {
  display: flex;
  gap: 40px;
  justify-content: center;
  
}
